body{
    font-family: Arial;
    font-size: 20px;
}
h1{background-color: lightgreen;}
div{/*contenedor principal*/
    background-color: lightblue;
    /* width: 800px; */
    /* height: 300px; */
    /* overflow:auto; */
    max-width: 1000px;
    min-width: 600px;
}
.caja{
    text-align: justify;
    background-color: violet;
    border: 2px dotted red; /*borde*/
    padding: 30px; /*releno*/
    margin: 20px; /*margen*/
}